In [63]:
import pandas as pd
import numpy as np
import requests
import json
import time
from sqlalchemy import create_engine

In [59]:
taxi_data = pd.read_csv("taxi_latlong_data.csv")
taxi_data.dtypes

Unnamed: 0      int64
lat           float64
long          float64
dtype: object

In [60]:
taxi_data["zip_code"] = ""
taxi_data["neighborhood"] = ""
taxi_data.drop('Unnamed: 0', axis=1, inplace=True)
taxi_data.head()

     lat   long zip_code neighborhood
0  41.66 -87.60
1  41.66 -87.54
2  41.67 -87.64
3  41.69 -87.71
4  41.69 -87.67

In [61]:
params = {"key": 'AIzaSyC61X6wdS9qjcWGfl4T1xyK0d6mHFvUn5s'}
count = 0
# Loop through the neighborhood_crime and run a lat/long search for each neighborhood
for index, row in taxi_data.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    lat = row['lat']
    lng = row['long']

    # update address key value
    params['latlng'] = f"{lat},{lng}"

    # make request
    neighborhood = requests.get(base_url, params=params)
    # convert to json
    neighborhood = neighborhood.json()
    count = count + 1 
    
    try:
        print(f"{count}. Neighborhood Found!")
        # appending exisiting neighborhood_crime data from with neighborhood data
        taxi_data.loc[index,"zip_code"] = neighborhood["results"][0]["address_components"][7]["long_name"]
        taxi_data.loc[index,"neighborhood"] = neighborhood["results"][0]["address_components"][2]["long_name"]
        
    except:
        time.sleep(5)
        print(f"{count}. No Neighborhood found!")

1. Neighborhood Found!
2. Neighborhood Found!
2. No Neighborhood found!
3. Neighborhood Found!
4. Neighborhood Found!
5. Neighborhood Found!
6. Neighborhood Found!
7. Neighborhood Found!
8. Neighborhood Found!
9. Neighborhood Found!
10. Neighborhood Found!
11. Neighborhood Found!
12. Neighborhood Found!
13. Neighborhood Found!
14. Neighborhood Found!
15. Neighborhood Found!
16. Neighborhood Found!
17. Neighborhood Found!
18. Neighborhood Found!
19. Neighborhood Found!
20. Neighborhood Found!
21. Neighborhood Found!
22. Neighborhood Found!
23. Neighborhood Found!
23. No Neighborhood found!
24. Neighborhood Found!
25. Neighborhood Found!
26. Neighborhood Found!
27. Neighborhood Found!
28. Neighborhood Found!
29. Neighborhood Found!
30. Neighborhood Found!
31. Neighborhood Found!
32. Neighborhood Found!
33. Neighborhood Found!
34. Neighborhood Found!
35. Neighborhood Found!
36. Neighborhood Found!
37. Neighborhood Found!
38. Neighborhood Found!
39. Neighborhood Found!
40. Neighborhood Found!
41. Neighborhood Found!
42. Neighborhood Found!
43. Neighborhood Found!
44. Neighborhood Found!
45. Neighborhood Found!
46. Neighborhood Found!
46. No Neighborhood found!
47. Neighborhood Found!
48. Neighborhood Found!
49. Neighborhood Found!
50. Neighborhood Found!
51. Neighborhood Found!
52. Neighborhood Found!
53. Neighborhood Found!
54. Neighborhood Found!
55. Neighborhood Found!
56. Neighborhood Found!
57. Neighborhood Found!
58. Neighborhood Found!
59. Neighborhood Found!
60. Neighborhood Found!
61. Neighborhood Found!
62. Neighborhood Found!
62. No Neighborhood found!
63. Neighborhood Found!
64. Neighborhood Found!
65. Neighborhood Found!
66. Neighborhood Found!
67. Neighborhood Found!
68. Neighborhood Found!
69. Neighborhood Found!
70. Neighborhood Found!
71. Neighborhood Found!
72. Neighborhood Found!
73. Neighborhood Found!
74. Neighborhood Found!
75. Neighborhood Found!
76. Neighborhood Found!
77. Neighborhood Found!
78. Neighborhood Found!
79. Neighborhood Found!
80. Neighborhood Found!
81. Neighborhood Found!
82. Neighborhood Found!
83. Neighborhood Found!
84. Neighborhood Found!
85. Neighborhood Found!
86. Neighborhood Found!
87. Neighborhood Found!
88. Neighborhood Found!
89. Neighborhood Found!
90. Neighborhood Found!
91. Neighborhood Found!
92. Neighborhood Found!
93. Neighborhood Found!
94. Neighborhood Found!
95. Neighborhood Found!
96. Neighborhood Found!
97. Neighborhood Found!
98. Neighborhood Found!
99. Neighborhood Found!
100. Neighborhood Found!
101. Neighborhood Found!
102. Neighborhood Found!
103. Neighborhood Found!
104. Neighborhood Found!
105. Neighborhood Found!
106. Neighborhood Found!
107. Neighborhood Found!
108. Neighborhood Found!
109. Neighborhood Found!
110. Neighborhood Found!
111. Neighborhood Found!
112. Neighborhood Found!
113. Neighborhood Found!
114. Neighborhood Found!
115. Neighborhood Found!
116. Neighborhood Found!
117. Neighborhood Found!
118. Neighborhood Found!
119. Neighborhood Found!
120. Neighborhood Found!
121. Neighborhood Found!
122. Neighborhood Found!
123. Neighborhood Found!
124. Neighborhood Found!
125. Neighborhood Found!
126. Neighborhood Found!
127. Neighborhood Found!
128. Neighborhood Found!
129. Neighborhood Found!
130. Neighborhood Found!
131. Neighborhood Found!
132. Neighborhood Found!
132. No Neighborhood found!
133. Neighborhood Found!
133. No Neighborhood found!
134. Neighborhood Found!
134. No Neighborhood found!
135. Neighborhood Found!
136. Neighborhood Found!
137. Neighborhood Found!
138. Neighborhood Found!
139. Neighborhood Found!
139. No Neighborhood found!
140. Neighborhood Found!
140. No Neighborhood found!
141. Neighborhood Found!
142. Neighborhood Found!
143. Neighborhood Found!
144. Neighborhood Found!
145. Neighborhood Found!
146. Neighborhood Found!
147. Neighborhood Found!
148. Neighborhood Found!
149. Neighborhood Found!
150. Neighborhood Found!

In [56]:
print(neighborhood["results"][0]["address_components"][2]["long_name"])

Rogers Park

In [53]:
print(neighborhood["results"][0])

{'address_components': [{'long_name': '7616', 'short_name': '7616', 'types': ['street_number']}, {'long_name': 'North Bosworth Avenue', 'short_name': 'N Bosworth Ave', 'types': ['route']}, {'long_name': 'Rogers Park', 'short_name': 'Rogers Park', 'types': ['neighborhood', 'political']}, {'long_name': 'Chicago', 'short_name': 'Chicago', 'types': ['locality', 'political']}, {'long_name': 'Cook County', 'short_name': 'Cook County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Illinois', 'short_name': 'IL', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '60626', 'short_name': '60626', 'types': ['postal_code']}, {'long_name': '1217', 'short_name': '1217', 'types': ['postal_code_suffix']}], 'formatted_address': '7616 N Bosworth Ave, Chicago, IL 60626, USA', 'geometry': {'bounds': {'northeast': {'lat': 42.020051, 'lng': -87.6696511}, 'southwest': {'lat': 42.0199698, 'lng': -87.66992909999999}}, 'location': {'lat': 42.0200272, 'lng': -87.6698064}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 42.0213593802915, 'lng': -87.66844111970849}, 'southwest': {'lat': 42.0186614197085, 'lng': -87.67113908029151}}}, 'place_id': 'ChIJ_fH0d07QD4gR5aEsfN6Kcik', 'types': ['premise']}

In [108]:
taxi_data['latlong'] = taxi_data['lat'].map(str) + ", " + taxi_data['long'].map(str)
latlong_df = taxi_data
latlong_df = latlong_df.set_index('latlong')
latlong_df['neighborhood'] = latlong_df['neighborhood'].replace(to_replace = "", value = "NA")
latlong_df['zip_code'] = latlong_df['zip_code'].replace(to_replace = "", value = 0)
latlong_df = latlong_df.replace(to_replace = "United States", value = 0)
latlong_df.head()

                 lat   long zip_code     neighborhood
latlong
41.66, -87.6   41.66 -87.60    60827        Riverdale
41.66, -87.54  41.66 -87.54        0               NA
41.67, -87.64  41.67 -87.64    60628     West Pullman
41.69, -87.71  41.69 -87.71    60655  Mount Greenwood
41.69, -87.67  41.69 -87.67    60643       South Side

In [105]:
rds_connection_string = "postgres:cm102386@localhost:5432/Project1_taxi data"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [106]:
engine.table_names()

['latlong', 'taxi_data']

In [107]:
latlong_df.to_sql(name='latlong', con=engine, if_exists='append', index=True)